dotenv
react
react-dom
react-router-dom
mysql
jsonwebtoken
vite
sequelize
express
nodemon
concurrently 
mysql2
bcrypt

Check if db/schema.sql exists 
Then login to MySQL:
mysql -u root -p
Then run the following command:
source db/schema.sql;