dotenv
react
react-dom
react-router-dom
mysql
jsonwebtoken
vite
sequelize
express
nodemon
concurrently 
mysql2
bcrypt
--save-dev @vitejs/plugin-react


# Additional setup instructions
Change the .env file to include your MySQL database password:
DB_PASSWORD=your_mysql_password:
and set the database name:
DB_DATABASE=gota_video_db

Check if db/schema.sql exists 
Then login to MySQL:
mysql -u root -p
Then run the following command:
source db/schema.sql;