.upload-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.text-input {
  padding: 0.5rem;
  font-size: 1rem;
}

.btn {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.video-btn {
  background-color: #82858a; 
  color: white;
}

.image-btn {
  background-color: #82858a; 
  color: white;
}

.publish-btn {
  background-color: #2b579a; 
  color: white;
}

.preview-video {
  max-width: 400px;
  border-radius: 6px;
}

.preview-image {
  max-width: 200px;
  border-radius: 6px;
  margin-top: 0.5rem;
}
/* For messages */
.status-message {
  font-weight: bold;
  margin-top: 1rem;
}
.status-message:empty {
  display: none;
}

/* OLD settings  */
/* .upload-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #cce6f9;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.upload-form label {
  margin-bottom: 15px;
  font-weight: 600;
  color: #333;
}

.upload-form input,
.upload-form textarea {
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: vertical;
  width: 100%;
}

.upload-form textarea {
  min-height: 80px;
}

.upload-form button {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.upload-form button:hover {
  background-color: #005fa3;
} */
