.videos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.video-card {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 50px;
}

.video-card:hover {
  transform: translateY(-4px);
}

.thumbnail-wrapper {
  overflow: hidden;
  border-radius: 12px;
}

.thumbnail {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.thumbnail-wrapper:hover .thumbnail {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.video-info {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.75rem;
  transition: transform 0.3s ease;
}

.video-card:hover .avatar {
  transform: scale(1.1);
}

.video-text {
  display: flex-column;
}

.video-title {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 0px 0px 2px;
}

.video-meta,
.video-channel {
  font-size: 0.85rem;
  color: #353535;
  margin: 0%;
  text-align: left;
}
